$nav-color: #f2e6e7;
$personal-color: #e34451;
$catalogue-color: #940c1e;
$catalogue-color-hover: #d42f44;
$first-filter-color: #bfbbbc;
$filter-elements-color: #f5f0f1;
$footer-color: #242223;
$catalogue-link-color: #9c9899;
$fav-list-color: #fc03b1; 
$fav-list-button-color: #363234;
$movie-color: #d4cfd2;
